<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.erlide.runtime.codepath">
<% for (x: codeDirs) { %>
     <beam_dir
            path="<%= x.path %>">
            context="<%= x.context %>"
            otp_version="<%= x.otp_version %>">
      </beam_dir>
<% } %>
​   </extension>
</plugin>
