{require_otp_vsn, "R16B.*"}.
{lib_dirs, [".."]}.

{erl_opts, [{i, "../erlide_kernel_common/include"}]}.
{edoc_opts,[{todo,true}]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{cover_export_enabled, true}.
{cover_enabled, false}.
{cover_print_enable, true}.

%{plugins, [rebar_covertool]}.

{covertool_eunit, {".eunit/cover.coverdata", "eunit.coverage.xml"}}.
{covertool_prefix_len, 0}.

