name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: |
          ~/erlide_tools
          ~/.kerl
        key: ${{ runner.os }}-otp-${{ hashFiles('build_utils.sh') }}
    - name: Set up JDK 1.8
      uses: actions/setup-java@v3
      with:
        java-version: '8'
        distribution: 'zulu'
        cache: 'maven'
    - name: Build
      run: ./build
    - name: Test
      run: ./build test
    - name: Dialyzer
      continue-on-error: true    # Until problems are fixed
      run: ./build dialyzer
    - name: Xref
      continue-on-error: true    # Until problems are fixed
      run: ./build xref
    - name: Build zip archive for Eclipse
      continue-on-error: true    # Until problems are fixed
      run: cd eclipse && ./build
